body {
  font-family: Arial, sans-serif;
  background: #1b1b1b;
  color: white;
  padding: 20px;
}

h1 {
  text-align: center;
}

.bloco {
  margin-bottom: 15px;
}

select, button {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
}

button {
  background: #444;
  color: white;
  border: none;
  font-size: 16px;
}

#resultado {
  margin-top: 20px;
  background: #101010;
  padding: 15px;
}

#pergunta {
  margin-top: 15px;
  font-style: italic;
  color: #ccc;
}

footer {
  margin-top: 30px;
  text-align: center;
  font-size: 12px;
  color: #777;
}
